body{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: nowrap;
    flex-direction: column;
    
}


.header{
    text-align: center;
}
.p-name, .p-tds {
    background-color: rgb(154, 145, 240);
}

.p-grow {
    background-color: green;
}

.p-micro {
    background-color: rgb(94, 70, 202);
}

.p-bloom {
    background-color: red;
}

#input-ml{
    border: 3px solid green;
    border-radius:10px;
    width: 40px;
    height: 20px;
    transition: 0.5s;

}
#input-ml:hover{
    border: 3px solid rgb(129, 211, 129);
    border-radius:10px;
    width: 40px;
    height: 20px;
    transition: 0.5s;

}

#submit-btn{
    border: 3px solid green;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 5px;
}
#submit-btn:hover{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid rgb(129, 211, 129);
    transition: 0.5s;

}

.result-text {
    border-radius: 10px;
    font-size: x-large;
    margin: 5px;

}

#selectorid{
    font-size: large;
    font-weight: 600;

}

/* table borders */
#tripart-table, th, td {
    border:  2px solid rgb(218, 12, 12);
    text-align: center;
}

th,td { 
    width: 100vh
}
