
.header{
    text-align: center;
}
.container { 
    width: 100%;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 3px 2px; 
}

.container p {
    font-size: 18px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin: 0;
    
} 

.p-name, .p-tds {
    background-color: rgb(154, 145, 240);
}

.p-grow {
    background-color: green;
}

.p-micro {
    background-color: rgb(94, 70, 202);
}

.p-bloom {
    background-color: red;
}

#input-ml{
    border: 3px solid green;
    border-radius:10px;
    width: 40px;
    height: 20px;
    transition: 0.5s;

}
#input-ml:hover{
    border: 3px solid rgb(129, 211, 129);
    border-radius:10px;
    width: 40px;
    height: 20px;
    transition: 0.5s;

}

#submit-btn{
    border: 3px solid green;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
#submit-btn:hover{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid rgb(129, 211, 129);
    transition: 0.5s;

}

.result-text {
    border-radius: 10px;
    font-size: x-large;
    margin: 5px;

}

.result-div{
    width: auto;
    height:  150px;
    margin-top: 10px;
    text-align: center;
}

#selectorid{
    font-size: large;
    font-weight: 600;

}